/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * Hero
 * Score
 * Game company
 * Game Type
 * Contact
 * Footer
**/


/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/
/* background */
.bg-white{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/*-------------------------*/
/* $Header
---------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header--colored{
    background-color: black;
}

.navbar{
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar--collapse{
    margin-left: -16px;
    margin-right: -16px;
}
.logo{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.navbar .logo{
    width: 80px;
    height: 80px; 
    padding: 8px;
    margin-left: 16px;
}
@media (max-width: 768px){
    .navbar .logo{
        padding: 16px;
        margin-left: 0px;
    }
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.popup-menu .menu{
    display: block;
    text-align: center;
}  
@media (max-width: 768px){
    .menu{
        display: none;
    }
}
.menu .menu_item{
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    font-family: Sarpanch;
    text-align: center;
    margin:28px 20px;
    color: white;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.popup-menu .menu_item{
    margin:12px auto;
}

.menu .menu_item:hover{
    color: #ffce00;
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
}

.menu_toggle{
    display: block;
    padding: 28px 24px;
} 

.menu_toggle span{
    display: block;
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 8px;  
    -webkit-transition: all 0.3s;  
    -o-transition: all 0.3s;  
    transition: all 0.3s;
}
.menu_toggle:hover span:nth-child(1){
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
}
.menu_toggle:hover span:nth-child(3){
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
}
.menu_toggle:hover span{
    background-color: #ffce00;
}

@media (min-width: 768px){
    .nav.navbar_nav{
        display: none;
    }
}

/* ------------ btn ------------ */

.login-btns{
    margin: 24px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.popup-menu .login-btns{
   display: block; 
}

.popup-menu .btn{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.btn{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    height: 36px;
    line-height: 36px;
    width: 100px;
    min-width: 100px; /* min-width為沒有文字時的寬度依據 */
    color: black;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ffce00;
    font-family: Sarpanch;
    font-weight: 700;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #ffe375; 
    -webkit-transform: translateY(-3px); 
        -ms-transform: translateY(-3px); 
            transform: translateY(-3px);
}

@media (max-width: 768px){
    .btn{
        display: none;
    }
}

/* icon btn */
.icon-btn{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
}

/* ------------ menu ------------ */

.popup-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}

.horizontal-center{
    margin: 200px auto;
}

#popup-overlay:target{
    opacity: 1;
    visibility: visible;
}

.popup-menu__close{
    position: absolute;
    right: 0;
    padding: 24px;
    width: 80px;
    height: 80px;
    display: block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.popup-menu__close:hover{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.popup-menu__close:hover span{
    background-color: #ffce00;
}

.popup-menu__close span{
    width: 32px;
    height: 2px;
    background-color: #fff;
    position: absolute;
}
.popup-menu__close span:nth-child(1) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -ms-transform: translate(-50%,-50%) rotate(45deg);
            transform: translate(-50%,-50%) rotate(45deg);
}
.popup-menu__close span:nth-child(2) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        -ms-transform: translate(-50%,-50%) rotate(-45deg);
            transform: translate(-50%,-50%) rotate(-45deg);
}


/*-------------------------*/
/* $Hero
---------------------------*/
.hero-bgc{
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    background: -o-linear-gradient( 315deg, #000000, #000000, #ffce00  ) ;
    background: -o-linear-gradient( 315deg, #000000, #000000, #ffce00  ) ;
    background: linear-gradient( 135deg, #000000, #000000, #ffce00  ) ;
}
@media (max-width: 425px){
    .hero{
        height: 900px;
    }
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
}
@media (max-width: 768px){
    .hero{
        padding-top: 300px;
        padding-bottom: 175px;
    }
}
@media (max-width: 425px){
    .hero{
        padding-top: 75px;
        padding-bottom: 700px;
    }
}

.hero__content{
    top: 25px;
}

.hero__heading{
    z-index: 52;
    font-family: Sarpanch;
    font-weight: 700;
    text-shadow: -0.5px -0.5px 0 #ffce00 , 
                0.5px -0.5px 0 #ffce00,
                -0.5px 0.5px 0 #ffce00, 
                1px 1px 0 #ffce00;
}
.hero__heading-1{
    font-size: 64px;
    position: absolute;
    top: 0;
    left: 20px;
}
@media (max-width: 425px){
    .hero__heading-1{
        font-size: 42px;
     }
 }
.hero__heading-2{
    font-size: 60px;
    position: absolute;
    top: 80px;
    left: 80px;
}
@media (max-width: 425px){
    .hero__heading-2{
       font-size: 36px;
       top: 40px;
    }
}
.hero__heading-3{
    font-size: 120px;
    position: absolute;
    top: 80px;
    left: 150px;
    color: #ffce00;
}

@media (max-width: 425px){
    .hero__heading-3{
        font-size: 80px;
        top: 50px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

.hero__bg{
    z-index: 49;
    position: absolute;
    top: 80px;
    right: 0;    
}
@media (max-width: 768px){
    .hero__bg{
        top: -20px;
    }
}
.hero__bg-man{
    width: 900px;
    height: 900px;
    position: absolute;
    top: -300px;
    right: -200px;
    background-image: url(..//images/man.png);
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;    
}
@media (max-width: 768px){
    .hero__bg-man{
        width: 810px;
        height: 810px;
        top: -300px;
        right: -200px;   
    }
}
@media (max-width: 425px){
    .hero__bg-man{
        width: 600px;
        height: 600px;
        top: 150px;
        right: -200px;   
    }
}
.hero__bg-ball{
    width: 375px;
    height: 375px;
    position: absolute;
    top: -275px;
    right: 500px;
    background-image: url(..//images/ball.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
}
@media (max-width: 768px){
    .hero__bg-ball{
        width: 337px;
        height: 337px;
        top: -275px;
        right: 400px;  
    }
}
@media (max-width: 425px){
    .hero__bg-ball{
        width: 200px;
        height: 200px;
        top: 170px;
        right: 230px;  
    }
}


/*-------------------------*/
/* $Score
---------------------------*/
.score{
    -webkit-transform: translate(-16px,-120px);
        -ms-transform: translate(-16px,-120px);
            transform: translate(-16px,-120px);
    margin-bottom: -125px;
    background-color: #ffce00;
    width: 650px;
    height: 420px;
    z-index: 50;

}
@media (max-width: 767px){
    .score{
        width: 100vw;
        height: 400px;
    }
}
@media (max-width: 425px){
    .score{
        margin-top: 100px;
        width: 100vw;
        height: 300px;
    }
}


.UEFA-logo{
    width: 96px;
    height: 109px;
    background-image: url(..//images/UEFA-logo.png);
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    z-index: 5;
}

.team{
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.team__logo{
    width: 93px;
    height: 93px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media (max-width: 425px){
    .team__logo{
        width: 60px;
        height: 60px;
    }
}

.team__name{
    text-align: center;
    width: 200px;
    margin: 0;
    margin-top: 12px;
}
@media (max-width: 425px){
    .team__name{
       font-size: 14px;
       width: 150px;
    }
}

.team-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.team-score{
    font-family: Sarpanch;
    font-weight: 700;
    font-size: 150px;
    text-align: center;
    margin: 0;
    width: 200px;
}
@media (max-width: 425px){
    .team-score{
        font-size: 72px;
        text-align: center;
        width: 150px;
    }
}
.vs{
    margin: 0px 48px;
}
@media (max-width: 425px){
    .vs{
        font-size: 24px;
        margin: 0px 8px;
    }
}

/*-------------------------*/
/* $Sports
---------------------------*/
/* game-provider */
.sports .row{
    z-index: 52;
    padding: 0 50px;
    top: -15px;
    padding-bottom: 24px;

}
.btn--game-provider{
    display: block;
    background-color: black;
    height: 100px ;
    margin: 0 10px;
    padding: 15px;
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
            box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3S;
    -o-transition: all 0.3S;
    transition: all 0.3S;
}
.btn--game-provider:hover{
    -webkit-transform: scale(1.1) translateY(-10px);
        -ms-transform: scale(1.1) translateY(-10px);
            transform: scale(1.1) translateY(-10px);
}
.game-provider-logo{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 768px){
    .btn--game-provider{
        margin-bottom: 16px;
    }
}

.sportsbook{
    padding-top: 25px;
}
.sportsbook .row{
    z-index: 52;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 1024px){
    .sportsbook .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

.sportsbook .title{
    margin: 0;
    line-height: 1;
}
@media (max-width: 768px){
    .sportsbook .title{
       font-size: 28px;
    }
}

.sportsbook .title:after{
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 1px;
    height: 100%;
    background-color: black;
}
@media (max-width: 768px){}
    .sportsbook .title:after {
    -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
            transform: translateX(12px);
}

.sportsbook .intro{
    line-height: 1.5;
    font-style: italic;
}
@media (max-width: 768px){
    .sportsbook .intro{
       font-size: 14px;
    }
}

/*-------------------------*/
/* $scroll card
---------------------------*/
.scroll-card .row{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 50px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
@media (max-width: 768px){
    .scroll-card .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 0px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.card {
    float: left;
    max-width: 35%;
    margin: 16px;
    margin-bottom: 2rem;
    border: 0;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
@media (max-width: 768px){
    .card {
        max-width: 75%;
    }
}
  
.card:hover{
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
            box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
    z-index: 60;
}
  
.card__image-container{
    background-color: black;
    width: 100%;
    height: 250px; 
}
.card__image-container__image1{
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-filter: drop-shadow(5px 0px 5px rgba(0,0,0,0.5));
            filter: drop-shadow(5px 0px 5px rgba(0,0,0,0.5));
    
}

.card:hover .card__image-container__image1{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.card__image-container__image2{
    width: 100%;
    height:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-filter: drop-shadow(5px 0px 5px rgba(0,0,0,0.5));
            filter: drop-shadow(5px 0px 5px rgba(0,0,0,0.5));   
}

.card__image-container__image2.poker{
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    bottom: -100px;
}
.card:hover .card__image-container__image2.poker{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    z-index: 500;
    bottom: -83px;
}
.card__image-container__image2.ball{
    -webkit-transform: scale(0.5) translate(-160px,-300px);
        -ms-transform: scale(0.5) translate(-160px,-300px);
            transform: scale(0.5) translate(-160px,-300px);
    
}
.card:hover .card__image-container__image2.ball{
    -webkit-transform: scale(0.7) translate(200px,-400px);
        -ms-transform: scale(0.7) translate(200px,-400px);
            transform: scale(0.7) translate(200px,-400px);
    z-index: 500;
}
.card__image-container__image2.lottery-ball{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    bottom: 0px;
}
.card:hover .card__image-container__image2.lottery-ball{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    z-index: 500;
}

.scroll-card .card__text-container{
    background-color:#ffce00;
    padding: 16px;
    height: 200px;
}
@media (max-width: 768px){
    .scroll-card .card__text-container {
        height: auto;
    }
}

.scroll-card h3{
    margin: 0;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}
@media (max-width: 768px){
    .scroll-card h3 {
        font-size: 28px;
    }
}

.scroll-card p {
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
    color: black;
}

.scroll-card .container:before{
    content: " ";
    background: -o-linear-gradient(right, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0)100%);
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 0)100%);
    height: 100%;
    width: 200px;
    position: absolute;
    right: -1px;
    z-index: 60;
}
@media (max-width: 768px){
    .scroll-card .container:before{
        display: none;
    }
}



/*-------------------------*/
/* $Footer
---------------------------*/
.support{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.support .logo{
    width: 55px;
    height: 55px;
    padding: 0px;
}

.contect{
    background-color:rgba(0,0,0,0.15);
    padding-top: 36px;
    padding-bottom: 36px;
}

.icon-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icon{
    text-align: center;
    font-size: 48px;
}
.icon-box h6{
    margin: 0;
}

.contect h4{
    text-transform: uppercase;
}
@media (max-width: 992px){
    .contect h4{
       font-size: 18px;
    }
}
.contect h6{
    font-size: 12px;
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
    color: #636363;
}
@media (max-width: 992px){
    .contect h6{
       font-size: 14px;
    }
}
@media (max-width: 992px){
    .contect .support,
    .contect .browser,
    .contect .site-guide{
       padding-bottom: 24px ;
    }
}
@media (max-width: 992px){
    .contect .support .row,
    .contect .browser .row,
    .contect .site-guide .row,
    .contect .customer-service .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;   
    }
}
@media (max-width: 992px){
    .contect .support h4,
    .contect .browser h4,
    .contect .site-guide h4,
    .contect .customer-service h4{
        text-align: center;
    }
}

@media (max-width: 992px){
    .site-guide .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    .site-guide .col-md-6{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }
    .site-guide h6{
        padding:0 16px;
    }
}

@media (max-width: 992px){
    .browser .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
.site-guide h6{
    margin-bottom: 16px;
}
.site-guide a:hover{
    color: #000000;
}
.customer-service .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
}
.customer-service p{
    font-size: 10px;
    line-height: 1;
    margin: 0;
    margin-top: 12px;
}


.copyright{
    background-color: #000000;
    height: 50px;
}

.copyright h6{
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 1;
}





/* 解決ID位置被header高度遮蓋 */
.sports:target{ 
    padding-top:670px; margin-top:-670px; 
}
@media (max-width: 768px){
    .sports:target{
        padding-top:450px; margin-top:-450px; 
    }
}  


.anchor1,.anchor2,.anchor3,.anchor4{
    top: -400px;
    visibility: hidden; /* 隱藏 */
  }
@media (max-width: 992px){
    .anchor1,.anchor2,.anchor3,.anchor4{
        top: -200px;
    }
}  